@import './components/ChartsBlock/ChartsBlock.scss';
@import './components/AuthNotification/AuthNotification.scss';

.statistics__title {
  margin-bottom: 2rem;
}
.statistics__wrapper {
  margin-top: 100px;
  margin-bottom: 4rem;
}
