$colorFont: #030229;
$colorBg: #f8f8fb;
$colorGray: #b3b3bf;
$colorGrayDark: #7c7b98;
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorYellow: #fbe8a6;
$colorOrange: #f4976c;
$colorBlueDark: #303c6c;
$colorBlue: #b4dfe5;
$colorBlueLight: #d2fdff;
$colorGreen: #3bad69;
$colorRed: #e53939;

$fontRegular: 500;
$fontSemibold: 600;
$fontBold: 700;
$fontExtrabold: 800;
$fontBlack: 900;

$pc: em(1200);
$tablet: em(991.98);
$mobile: em(767.98);
$mobileSmall: em(479.98);
