@import "./components/MissingTypeStartPage/MissingTypeStartPage.scss";
@import "./components/MissingTypeCheckBtn/MissingTypeCheckBtn.scss";

.missing-type {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $colorWhite;
  &__answers-options-list {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: $colorOrangeDark;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    row-gap: 10px;
    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: min-content;
      min-width: 100px;
      background-color: $colorBlueMiddle;
      border-radius: 10px;
      margin: 0px 10px;
      cursor: grab;
      padding: 5px;
      @include btnHover;
      &_dragging {
        background-color: $colorGreen;
      }
    }
  }
  &__answer {
    height: 100px;
    width: 300px;
    background-color: $colorOrangeDark;
    margin-bottom: 40px;
    &-true {
      color: $colorGreen;
    }
    &-false {
      color: $colorRed;
    }
  }
  &__question {
    position: relative;
    min-height: 100px;
    width: 50%;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colorOrangeDark;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    &-count {
      color: $colorBlueMiddle;
      margin-bottom: 20px;
    }
  }
  &__point {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: $colorWhite;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(59, 88, 168, 0.8);
    border-radius: 10px;
    border: 2px dotted $colorWhite;
  }
}

@media (max-width: 768px) {
  .missing-type__answers-options-list {
    width: 90%;
  }
  .missing-type__question {
    width: 90%;
  }
}
@media (max-width: 375px) {
  .missing-type__question {
    font-size: 1.1rem;
  }
}
