.games {
  &__container {
    margin-top: 120px;
  }
  &__title {
    margin-bottom: 2rem;
  }
  &__wrapper {
    margin: auto;
    width: 100%;
    max-width: 888px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.game {
  width: 363px;
  margin: 20px 20px;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 15%);
  min-height: 308px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: $colorWhite;
  &__card {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }

  &__top {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  &__image-block {
    margin-top: 32px;
    margin-bottom: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
  }

  &__image {
    width: 80px;
    height: 80px;
    border-radius: unset;
    display: flex;
    overflow: hidden;
    position: relative;
    font-size: 1.25rem;
    align-items: center;
    flex-shrink: 0;
    user-select: none;
    border-radius: 50%;
    justify-content: center;
    img {
      color: transparent;
      width: 100%;
      height: 100%;
      object-fit: cover;
      text-align: center;
      text-indent: 10000px;
    }
  }

  &__title {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
  }

  &__info {
    text-align: center;
    margin-left: 32px;
    margin-right: 32px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
  }

  &__description {
    line-height: 150%;
    margin-bottom: 1rem;
  }

  &__start {
    margin-top: auto;
    margin-bottom: 32px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
  }

  &__link {
    letter-spacing: 1px;
    padding: 0.8rem 1.5rem;
    &_1 {
      background-color: $colorOrangeDark;
      &:hover {
        background-color: $colorOrange;
      }
    }
  }
}
