.title {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
}

.subtitle {
  text-align: center;
  font-size: 2rem;
}

.button {
  border: none;
  outline: none;
  font-size: 1.4rem;
  font-weight: $fontSemibold;
  color: $colorWhite;
  padding: 0.5rem 1rem;
  background-color: $colorBlueMiddle;
  border-radius: 1em;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background: $colorBlueDark;
  }
}
