.difficulty-button {
  padding: 0.5rem 1rem;
  width: max-content;
  font-size: 1.1rem;
  background-color: transparent;
  color: inherit;
  border-color: inherit;
  border-radius: 20rem;
  cursor: pointer;
  transition: 300ms;
  &:hover {
    border-color: wheat;
    color: wheat;
  }
  &:disabled {
    border-color: grey;
    color: grey;
    cursor: not-allowed;
  }
}
