.missing-type__btn {
  width: 300px;
  height: 50px;
  background-color: $colorBlueDark;
  border-radius: 10px;
  transition: all 0.5s;
}

.missing-type__btn_active {
  background-color: $colorGreen;
}
