.header {
  width: 100%;
  padding: 2rem 0;
  position: fixed;
}

.header__logo {
  display: block;
  background: url(../../assets/images/logo-tsacademy.png) no-repeat center;
  background-size: contain;
  height: 3rem;
  width: 10rem;
}
