$colorFont: #030229;
$colorBg: #f8f8fb;
$colorGray: #ddd;
$colorGrayLight: #aaa;
$colorGrayDark: #333;
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorBlackPoppup: rgb(0, 0, 0, 0.5);
$colorYellow: #fbe8a6;
$colorOrange: #f4976c;
$colorOrangeDark: #9b4821;
$colorBlueDark: #303c6c;
$colorBlue: #b4dfe5;
$colorBlueMiddle: #3a57a8;
$colorBlueLight: #d2fdff;
$colorGreen: #3bad69;
$colorRed: #e53939;
$colorMonkai: #272822;

$fontRegular: 500;
$fontSemibold: 600;
$fontBold: 700;
$fontExtrabold: 800;
$fontBlack: 900;

$pc: 1200px;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;
