.results {
  &__wrapper {
    margin-top: 100px;
  }
  &__subtitle {
    color: $colorFont;
  }
  &__content {
    margin: 3rem auto 5rem;
    padding: 1.5rem;
    max-width: 500px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    gap: 0.5em;
    box-shadow: 0px 8px 40px 20px rgb(34 60 80 / 47%);
    border-radius: 20px;
  }

  &__ations {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  &__button {
    margin-right: 1rem;
  }
}
